* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #45a29e;
}

#calc-body {
    width: 450px;
    height: 600px;
    margin: 8em auto;
    padding: 2em;
    background-color: #1f2833;
    border-radius: 40px;
}

#screen {
    font-weight: bold;
    height: calc(25%);
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #c6c5c7;
    border-radius: 30px;
    padding-left: 2em;
}

#main-screen {
    width: 100%;
    font-size: 40px;
    padding-left: 5rem;
    padding-right: 2rem;
    display: flex;
    justify-content: end;
    overflow: hidden;
}

#main-screen p {
    padding: 5px;
}

#buttons-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 2em;
    height: calc(50%);

}

#ac-del-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 3em;
}

#ac-del-container div {
    width: calc(50%);
    padding: 10px;
    background-color: #66fcf1;
    font-weight: bold;
    text-align: center;

}

.button, .result {
    width: calc(23%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #66fcf1;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
}

.button:hover, .result:hover, #ac:hover, #del:hover {
    filter: brightness(0.75);
} 

#ac, #del {
    border-radius: 10px;
}